header
{
	background-color: grey;
	display: flex;
}

.logo_container
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	width: 10%;
}

.logo_container img
{
	width: 100%;
	object-fit: contain;
	margin: 2px;
}

nav
{
	width: 90%;
	background-color: cyan;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
}

nav a
{
	text-decoration: none;
	color: black;
	margin: 20px;
}

.show_video
{
	display: flex;
	background-color: deeppink;
	height: 350px;
	justify-content: flex-start;
}
.show_video__info_command
{
	width: 25%;
	display: flex;
	background-color: royalblue;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: justify;
	padding: 20px;
	overflow: auto;
}

#play, #close
{
	background-color: green;
	color: white;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.show_video__extract
{
	background-color: maroon;
	width: 50%;
}

.show_video__extract img
{
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: 100%;
}


h1
{
	text-align: center;
	font-size: 1rem;
}

.tops, .cat_1, .cat_2, .cat_3
{
	/*background-color: yellow;*/
	height: auto;
	min-height: 140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.tops img, .cat_1 img, .cat_2 img, .cat_3 img
{
	width: 10%;
	height: 10%;
	margin: 5px;
}


section > div
{
	background-color: red;
}


@media screen and (max-width:  1280px)
{
	#top4
	{
		background-color: purple;
	}
}

.clickable
{
	cursor:  pointer;
}

#modal
{
	background-color: green;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 80%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	visibility: hidden;
}


#top_modal
{
	display: flex;
	justify-content: flex-start;
	background-color: yellowgreen;
}

#close
{
	width: 100px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#imageModal
{
	height: 100%;

}

#general_info
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	background-color: white;
	height: 400px;
}

#title, #genre, #date, #rated, #score, #directors, #duration, #country, #income
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#genre, #date, #rated, #score, #directors, #duration, #country, #income
{
	align-self: flex-start;
	margin-left: 10%;
}

#bottom_modal
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#actors
{
	background-color: deeppink;
	padding: 20px;
	height: 50px;
	overflow: scroll;
}

#summary
{
	background-color: mediumpurple;
	padding: 20px;
	height: 150px;
	overflow: scroll;
}

