body
{
	background-color: black;
}

header
{
	background-color: #D9D9D9;
	display: flex;
	margin-bottom: 10px;
	border: solid white 2px;
}

.logo_container
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	height: 60px;
	margin:2px;
}

.logo_container img
{
	height: 60px;
	object-fit: contain;
}

nav
{
	height: 60px;
	width: 100%;
	background-color: #D9D9D9;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
}

nav a
{
	text-decoration: none;
	color: black;
	margin: 20px;
}

.show_video
{
	display: flex;
	background-color: red;
	height: 350px;
	justify-content: flex-start;
	border: solid white 5px;
}
#play_container
{
	width: 25%;
	display: flex;
	background-color: #767676;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: justify;
	padding: 20px;
	margin-left: 0px;
	overflow: auto;
	border: none;
	color: white;
}

#play, #close
{
	background-color: red;
	color: white;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}

.show_video__extract
{
	background-color: red;
	width: 100%;
}

.show_video__extract img
{
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: 100%;
}


h1
{
	text-align: center;
	font-size: 1rem;
	color: white;
}

.tops, .cat1, .cat2, .cat3
{
	height: auto;
	min-height: 140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.tops img, .cat1 img, .cat2 img, .cat3 img
{
	width: 150px;
	margin: 5px;
}


section > div
{
	background-color: #D9D9D9;
	border: solid red 5px;
}

.clickable
{
	cursor:  pointer;
}

#modal
{
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	visibility: hidden;
}


#top_modal
{
	display: flex;
	justify-content: flex-start;
	background-color: #767676;
	height: 410px;
}

#close
{
	width: 100px;
	margin-top: 10px;
}

#imageModal
{
	height: 400px;
	border: none;

}

#general_info
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	background-color: white;
	height: 400px;
	border: solid red 5px;
}

#title, #genre, #date, #rated, #score, #directors, #duration, #country, #income
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#genre, #date, #rated, #score, #directors, #duration, #country, #income
{
	align-self: flex-start;
	margin-left: 10%;
}

#bottom_modal
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#actors
{
	background-color: #D9D9D9;
	padding: 20px;
	height: 150px;
	overflow: scroll;
	border: solid white 5px;
}

#color_actor, #color_summary
{
	color: red;
}

#summary
{
	background-color: #D9D9D9;
	padding: 20px;
	height: 180px;
	overflow: scroll;
	border: solid white 5px;
}


@media screen and (max-width:  600px)
{
	body
	{
		margin: 0;
	}

	.show_video
	{
	    display:flex;
	    flex-direction: column;
	    height: auto;
	    width:100%;
	    margin: 0;
	    padding: 0;
	    align-items:center;
	    border: none;
	}

	.show_video__extract
	{
		display: flex;
		justify-content: center;
	}

	.show_video__extract img
	{
		width: 60%;
	}

	#play_container
	{
	    width:100%;
	    height:250px;
	    overflow: scroll;
	    margin:0;
	    display: flex;
	    justify-content: center;
	    align-items:center;
	    overflow: auto;
	}

	article
	{
	    width: auto;
	    padding: 10px;
	    margin-top: 10px;
	}

	#modal
	{
		height: auto;
		position: absolute;
	}


	#top_modal
	{
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	#imageModal
	{
		margin-top: 30px;
	}

	#close
	{
		position: fixed;
	}

	#actors
	{
		border: none;
	}

}



