header
{
	background-color: grey;
	display: flex;
}

.logo_container
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	width: 10%;
}

.logo_container img
{
	width: 100%;
	object-fit: contain;
	margin: 2px;
}

nav
{
	width: 90%;
	background-color: cyan;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
}

nav a
{
	text-decoration: none;
	color: black;
	margin: 20px;
}

.show_video
{
	display: flex;
	background-color: deeppink;
	height: 350px;
	justify-content: flex-start;
}
.show_video__info_command
{
	width: 25%;
	display: flex;
	background-color: royalblue;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: justify;
	padding: 20px;
	overflow: auto;
}

.button
{
	background-color: red;
	color: white;
	text-decoration: none;
	padding: 20px;
}

.show_video__extract
{
	background-color: maroon;
	width: 50%;
}

img[alt="les évadés"]
{
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: 100%;
}

img[alt="les évadés"]:hover
{
	height: 200%;
	position: relative;
	z-index: 1;
}

h1
{
	text-align: center;
	font-size: 1rem;
}

.tops, .cat_1, .cat_2, .cat_3
{
	/*background-color: yellow;*/
	height: auto;
	min-height: 140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.tops img, .cat_1 img, .cat_2 img, .cat_3 img
{
	width: 10%;
	height: 10%;
	margin: 5px;
}

.tops img:hover, .cat_1 img:hover, .cat_2 img:hover, .cat_3 img:hover
{
	height: 20%;
	width: 20%;
}


section > div
{
	background-color: red;
}


@media screen and (max-width:  1280px)
{
	#top4
	{
		background-color: purple;
	}




}
